<head>
<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
</head>
<body>
@{
    ViewData["Title"] = "Home Page";

    List<ResultadosModel> resultados = (List<ResultadosModel>)ViewBag.ListaResultados;



}
<br>
<br>
    <div class="container">
        <div class = "row">
            <div class="col-md-6">
                <div class="dropdown" >
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Elige una Liga
                </button>
                <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
                @foreach(LigasModel UnaLiga in ViewBag.ListaLigas)
                {
                     <a class="dropdown-item" href="#">@UnaLiga.NombreLiga</a>
                }
            </div>
</div>
</div>
<br>
<br>
<br>
@foreach (var res in resultados){
    <div class="container centrar">

        <div class="row" style="width:100%">

            <div class="col-md-5">
                <div class="row">
                    <div class="scoreboard__name">@res.Equipo1</div>
                    <div class="scoreboard__score">@res.Goles1</div>
                </div>
            </div>

            <div class="col-md-2">
                <h3 class="vscen">VS</h3>
            </div>

            <div class="col-md-5">
                <div class="row">
                    <div class="scoreboard__score">@res.Goles2</div> 
                    <div class="scoreboard__name">@res.Equipo2</div>
                    
                </div>
            </div>

        </div>
    </div>

}
@foreach (var res in resultados)
 {<li>@res.Equipo1 @res.Goles1  vs @res.Equipo2 @res.Goles2</li>}
</body>
