@{
    ViewData["Title"] = "Home Page";

    List<ResultadosModel> resultados = (List<ResultadosModel>)ViewBag.ListaResultados;



}
@foreach (var res in resultados){
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            <div class="scoreboard__name">@res.Equipo1</div>
            <div class="scoreboard__score">@res.Goles1</div>
            </div>
            <div class="col-md-6">
            <div class="scoreboard__name">@res.Equipo2</div>
            <div class="scoreboard__score">@res.Goles2</div>
            </div>
            </div>
        </div>

}

    @foreach (var res in resultados)
   {<li>@res.Equipo1 @res.Goles1  vs @res.Equipo2 @res.Goles2</li>}

