<head>
<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
</head>
<body>
@{
    ViewData["Title"] = "Home Page";
    List<ResultadosModel> resultados = (List<ResultadosModel>)ViewBag.ListaResultados;
}
<br>
<br>
    <div class="container">
        <div class = "row">
            <div class="col-md-6">
<form method="POST" action='@Url.Action("SeleccionarLiga","Home")'>
    <select name="liga" onchange="this.form.submit()">
        <option value="0">Elegir</option>
        @foreach (LigasModel UnaLiga in ViewBag.ListaLigas)
        {
          if(UnaLiga.IdLiga==ViewBag.LigaSeleccionada)
          {  
              <option selected value="@UnaLiga.IdLiga">@UnaLiga.NombreLiga</option>
          }
          else
          {
              <option value="@UnaLiga.IdLiga">@UnaLiga.NombreLiga</option>
          }  
        }
    </select>

    @if (ViewBag.LigaSeleccionada > 0)
    {
        <select name="fecha" onchange="this.form.submit()">
        @foreach (FechasModel UnaFecha in ViewBag.ListaFechas)
        {

          <option value="@UnaFecha.IdFecha">@UnaFecha.Fecha</option>
        }
        </select>
    }



</form>
@if(resultados !=null){
foreach (var res in resultados)
 {<li>@res.Equipo1 @res.Goles1  vs @res.Equipo2 @res.Goles2</li>}
}
</body>
